/* by Adamenko Igor - pro100kvashina.kz*/
body{
    font-family: 'Open Sans', sans-serif;
    background: #2ac56c;
}
input{
    outline:none;
}
.wrapper {
    margin:200px auto;
    text-align: center;
}
.standard{
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #119e4d;
    padding: 15px 0;
    font-weight: 700;
    font-size: 150%;
    transform-style: preserve-3d;
	transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
    position: relative;
    width:162px;
    margin:10px;
}
.standard:focus{
    background: #aaa;
    -webkit-transform-origin: 60% 100%;
    -webkit-transform: rotateX(-90deg) translateY(80%);
    -moz-transform-origin: 60% 100%;
    -moz-transform: rotateX(-90deg) translateY(80%);
    -ms-transform-origin: 60% 100%;
    -ms-transform: rotateX(-90deg) translateY(80%);
    transform-origin: 60% 100%;
    transform: rotateX(-90deg) translateY(80%);
}
.standard:after{
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform-origin: 0% 100%;
    -moz-transform: rotateX(90deg);
    -ms-transform-origin: 0% 100%;
    -ms-transform: rotateX(90deg);
    transform-origin: 0% 100%;
    position: absolute;
    transform: rotateX(90deg);
    top: -100%;
    background: #13964C !important;
    color: #358337;
    content: '';
    left: 0;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #178147;
    padding: 15px 0;
    font-weight: 700;
    width:162px;
}
.ok:after{
    background: #13964C  !important;
    box-shadow: 0 5px #178147;
    content: 'action';
}
/**** error ****/
@-webkit-keyframes error {
    25%  {transform: rotateY(35deg);background: #DD1919  !important;}
    50%  {transform: rotateY(0deg);}
    75%  {transform: rotateY(35deg);}    
    100% {transform: rotateY(0deg);background: #13964C  !important;}
}
@-moz-keyframes error {
    25%  {transform: rotateY(35deg);background: #DD1919  !important;}
    50%  {transform: rotateY(0deg);}
    75%  {transform: rotateY(35deg);}    
    100% {transform: rotateY(0deg);background: #13964C  !important;}
}
.error:focus{
    -webkit-animation:error 0.7s;
    -moz-animation:error 0.7s;
    background: #DD1919  !important;
    box-shadow: 0 5px #BD3737;
    outline: none;
    -webkit-transform: rotateX(0) translateY(0);
    -moz-transform: rotateX(0) translateY(0);
}

.error:after{
    background: #EFEE1D  !important;
    box-shadow: 0 5px #D1D019;
    content: 'error';
}
/**** error ****/

/**** warning ****/
@-webkit-keyframes warning {
    25%  {transform: scale(1.3)}
    50%  {transform: scale(1)}
    75%  {transform: scale(1.3)}    
    100% {transform: scale(1)}
}
@-moz-keyframes warning {
    25%  {transform: scale(1.3)}
    50%  {transform: scale(1)}
    75%  {transform: scale(1.3)}    
    100% {transform: scale(1)}
}
.warning:focus{
    -webkit-transform: rotateX(0) translateY(0);
    -moz-transform: rotateX(0) translateY(0);
    outline: none;
    -webkit-animation:warning 1s;
    -moz-animation:warning 1s;
    background: #EFEE1D  !important;
    box-shadow: 0 5px #D1D019;
}
/**** warning ****/

/**** message ****/
.message{
    box-shadow: 0 5px #18AF98;
    background: #1bdbbe !important;
    padding-left: 45px;
}
.message span{
    background: url("images/mess.png") no-repeat left center;
    width:32px;
    height: 23px;
    content: "";
    position: absolute;
    left: 15px;
    top: 20px;
	transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
}
.message:focus{
    transform-origin: 0% 0%;
    transform: rotateX(0);
    outline: none;
}
@-webkit-keyframes message {
    10%  {opacity: 1;transform: scale(1);}
    20%  {transform: scale(0.9);}
    30%  {transform: scale(0.8);}
    40%  {transform: scale(0.7);}
    50%  {transform: scale(0.6);}
    60%  {transform: scale(0.5);}
    70%  {transform: scale(0.4);}
    80%  {transform: scale(0.3);}
    90%  {transform: scale(0.2);}
    100% {opacity: 0;transform: scale(0.1);}
}
@-moz-keyframes message {
    10%  {opacity: 1;transform: scale(1);}
    20%  {transform: scale(0.9);}
    30%  {transform: scale(0.8);}
    40%  {transform: scale(0.7);}
    50%  {transform: scale(0.6);}
    60%  {transform: scale(0.5);}
    70%  {transform: scale(0.4);}
    80%  {transform: scale(0.3);}
    90%  {transform: scale(0.2);}
    100% {opacity: 0;transform: scale(0.1);}
}
.message:focus span{
    -webkit-animation:message 1s;
    -moz-animation:message 1s;
}
/**** message ****/